@import "~@blueprintjs/core/lib/scss/variables";

.confirm-demo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .demo-readout {
    min-height: 100px;
  }

  .controls {
    margin-top: 4 * $pt-grid-size;
    width: 100%;
    max-width: 400px;
  }
}
