@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/scss/bootstrap-grid";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
  background-color: $pt-dark-app-background-color;
  color: $pt-dark-text-color;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
}

.demo-readout {
  font-family: "Noto Sans", sans-serif;
  font-size: 64px;
}
