@import "~@blueprintjs/core/lib/scss/variables";

.app {
  text-align: center;

  .app-title {
    font-size: 72px;
    color: $cobalt5;
    margin-bottom: 20px;
  }

  .app-explanation {
    font-size: 16px;
    color: $pt-dark-text-color-muted;
  }

  .app-seuss-demo {
    margin-top: 250px;
    margin-bottom: 360px;
  }

  .app-section-header,
  .app-section-body {
    text-align: left;
    width: 800px;
    margin: auto;
  }

  .app-section-header {
    font-size: 24px;
  }

  .app-section-body {
    margin-top: $pt-grid-size;
    color: $pt-dark-text-color-muted;
  }

  .app-bitcoin-demo {
    margin-top: 8 * $pt-grid-size;
  }

  .app-bitcoin-explanation {
    margin-top: 1 * $pt-grid-size;
    color: $gray3;
    margin-bottom: 100px;
  }

  .app-confirm-demo {
    margin-top: 8 * $pt-grid-size;
    margin-bottom: 100px;
  }

  .app-copyright {
    margin-top: 4 * $pt-grid-size;
    margin-bottom: 2 * $pt-grid-size;
  }
}
